:root {  /*color preset*/    
    --red-color: #ff0f0f;
    --white-color: #fcf7f7;
    --green-color: #36f221;
    --black-color: #181710;
    --blue-color: #0004f5;
    --a-color: #e8e005;

    --padding: 8px 12px;
  }

*{
    margin:0;
    padding: 0;
}
html, body{
    background: var(--black-color);
    font-family: sans-serif;
    height: 100vh;
    width: 96.4vw;
    
}
.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.navbar {
 
    align-items: center;
    padding: var(--padding);
    background-color: var(--black-color);
    height: 70px;
    font-family: Fredericka the Great;
    width: 95%;
    
  }
  
  /*네비게이션 바의 로고랑 타이틀 설정*/
  
  .navbar .logoandtitle {
    display: flex;
    align-items: center;
    color: var(--white-color)
  }
  
  .navbar .logoandtitle .mlogo{
    width: 2.7rem;
  }
  
  
  .navbar .logoandtitle .title{
    font-size: 25px;
  }


.allbtn{
    
    
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.allbtn li{
    list-style: none;
    margin: 0 5px;    
}

.allbtn li a i{
    font-size: 40px;
    color: #333;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

.allbtn li a span{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #333;
    letter-spacing: 4px;
    transition: 0.5s;
}

.allbtn li a{
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px; /*원래 210px*/
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

.allbtn li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.allbtn li a:after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.allbtn li a:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
}

.allbtn li:hover i {
    color: #fff;
}

.allbtn li:hover span{
    color: #fff;
}

.allbtn li:hover .home{
    background: var(--a-color);
}

.allbtn li:hover .home:before{
    background: rgb(179, 179, 44);
}

.allbtn li:hover .home:after{
    background: rgb(165, 165, 94);
}

.allbtn li:hover .instagram{
    background: #dd4b39;
}

.allbtn li:hover .instagram:before{
    background: #b33a2b;
}

.allbtn li:hover .instagram:after{
    background: #e66a5a;
}

.allbtn li:hover .whatsapp{
    background: var(--green-color);
}

.allbtn li:hover .whatsapp:before{
    background: green;
}

.allbtn li:hover .whatsapp:after{
    background: rgb(139, 255, 139);
}

.allbtn li:hover .facebook{
    background: blue;
}
.allbtn li:hover .facebook:before{
    background: rgb(14, 14, 167);
}

.allbtn li:hover .facebook:after{
    background: rgb(32, 32, 233);
}



@media screen and (min-width: 768px) {
  
    .allbtn{
    
    
        display: flex;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .allbtn li a{
        margin: 3rem;
        width: 15rem;

  }

}